#using yml for profile-specific information

#default profile

spring:
  config:
    activate:
      on-profile: default

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: secret
    url: jdbc:mysql://13.41.110.229:3306/somedb
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://photo-discovery-server-container:8761/eureka


---

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: secret
    url: jdbc:mysql://13.41.110.229:3306/devdb
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka


